/*Organized alphabetically by 
Elements
Classes
IDs*/

/*********** ELEMENTS ***********/

body, html {
/*    height: 100%;*/
/*    max-width: 991px;*/


}

body {
      margin: 0 40px;
    font-family: 'Lato', sans-serif;
    color: #b64201;
/*  background-color: #f8faff;*/
  background: linear-gradient(to right, #ffeeb8, #ffe07d, #ffeeb8);
  background-repeat: no-repeat;
  height: 100%;
}

button {
  padding: 6px 12px 0 12px;
  flex: 1;
}

div .buttons {
  display: flex;
}

footer {
  margin: 40px 0 20px 30px;
  padding: 20px;
  text-align: center;
  padding-bottom: 15px;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  width: 991px;
  background-color: white;
}

h1 {
  font-size: 2.3vw;
  font-weight: 800;
/*  padding: 0 0 10px 0;*/
}

h2 {
  font-size: 1.8vw;
  line-height: 1.2em;
/*  padding: 10px;*/
}

h1, h2 {
  color: #b64201;
  text-align: center;
  margin: 30px 30px 30px 50px;
}

header {
  margin: auto;
  color: #13480D;
  width: 80%;
  height: 40%;
  width: 991px;
}

hr {
  color: #839364;
}

  /* Flaired edges, by Tomas Theunissen */
hr {
      overflow: visible; /* For IE */
      height: 30px;
      border-style: solid;
      border-color: #839364;
      border-width: 1px 0 0 0;
      border-radius: 20px;
}

hr:before { /* Not really supposed to work, but does */
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: #839364;
      border-width: 0 0 1px 0;
      border-radius: 20px;
}
  /* End Flaired edges, by Tomas Theunissen */

label {
  margin: 5px 0 5px 0;
  padding: 0;
}

legend {
  margin: 10px 0 20px 0;
  font-family: 'Bree Serif', serif;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}

p {
  padding: 0 0 4px 0;
}

table {
  display: table;
}

td {
  padding: 2px 15px;
}

th {
  padding: 0 10px 20px;
  margin: 0 0 5px 0;
}

/*********** CLASSES ***********/

.banner {
  max-width: 991px;
  border-radius: 0 15px 15px 0;
}

.col-md-4 {
  flex: 1;
}

.container {
  margin: 10px 30px 10px 0;
  padding-top: 20px;
/*  border-top: 10px solid white;*/
  max-width: 768px;
/*  background-color: black;*/
}

.control-label {
  color: #DDEAFF;
}

.form-control {
  flex: 1;
}

.form-horizontal {
  display: flex;
}

.parallax {
    background-image: url("../images/kittens.png");
    height: 100%; 
    position: relative;
    background-attachment: fixed;
    background-position:  left top;
    background-repeat: no-repeat;
}

/*********** IDs ***********/

#banner {
  display: flex;
}

#bannerLeft {
  display: flex;
  flex: 1;
}

#bannerRight {
  height: 100%;
  flex: 1.1;
  display: flex;
  flex-direction: column;
  background-color: #ffdb6a;
/*  border-top: 20px solid #508104;
  border-right: 20px solid #508104;
  border-bottom: 20px solid #508104;*/
  text-align: center;
}

#destroy {
  margin-left: 50px;
}

#inputFormWrapper {
  flex: 1.5;
  margin: 0 10px;
}

#instructions {
  color: black;
  font-size: 1.1em;
  margin-bottom: 5px;
}

#lifespanTable {
  font-size: .8em;
  white-space: nowrap;
  margin: 20px 0 0 38px;
}

#lifespanTable th {
  padding: 0 10px 20px;
  text-decoration: underline;
  vertical-align: bottom;
}

#lifespanTableHeading {
  margin: 20px 0 0 50px;
}

#lifespanTableWrapper {
  flex: 1;
  width: 100%;
  margin: 0 10px 0 25px;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
}

#lowerPanel {
  display: flex;
  background-color: #96b368;
  padding: 15px;
  box-shadow: 5px 10px 18px grey;
}

#results {
  padding: 10px 0 0 20px;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 20px;
}

#resultTable {
  width: 991px;
  margin: 15px 0 0 30px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  background-color: black;
  font-size: .8em;
}

#resultTable th {
  background-color: white;
  border-bottom: 2px solid #fff;
  font-weight: 800;
}

#resultTable tr:nth-child(even) {
  background-color: #fff;
}

#resultTable tr:nth-child(odd) {
  background-color: #8CB4FF;
}

.flexStack {
/*  height: 50%;*/
  min-width: 0;
min-height: 0;
overflow: hidden;
  flex-shrink: 1;
  flex-basis: auto;
}

/*div {
  border: 1px solid black;
}*/